<div class="welcome" fxLayout="column" fxLayoutAlign="center center" fxFlex fxLayout.gt-md="row">
    <section fxFlex.gt-md>
        <h1>AKTIVITÄT</h1>
        <p>Bleib aktiv und freue dich über deine Gesundheit!</p>
    </section>
    <section fxFlex.gt-md>
        <h1>COMMUNITY</h1>
        <p>Lerne Leute mit der selben Passion kennen!</p>
    </section>
    <section fxFlex.gt-md>
        <h1>HERAUSFORDERUNGEN</h1>
        <p>Gib nicht auf! Fordere dich jeden Tag heraus</p>
    </section>
</div>
